<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - {{ cookiecutter.website_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/example.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
          <a class="navbar-brand" href="/">{{ cookiecutter.website_name }}</a>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </div>

        {% block content %}
        {% endblock %}
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<script src="/js/example.js"></script>
</body>
</html>