{{ '{% extends "base.html" %}' }}

{{ '{% block title %}Home{% endblock %}' }}

{{ '{% block content %}' }}
<div class="row">
  <div class="col-sm-6 col-lg-6">
    <h1>{{ cookiecutter.project_short_description }}</h1>
    <p>This is the Home page of {{ cookiecutter.website_name }}.</p>
  </div>
  <div class="col-sm-6 col-lg-6">
    <img src="holder.js/600x400">
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-lg-4">
    <h2>Nulla Quis Sem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
  </div>
  <div class="col-sm-4 col-lg-4">
    <h2>Nulla Quis Sem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
  </div>
  <div class="col-sm-4 col-lg-4">
    <h2>Nulla Quis Sem</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
  </div>
</div>
{{ '{% endblock %}' }}
