{% extends "base.html" %}

{% block title %}Repos{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Repos</h2>
        <p>The following list of open-source repos is populated from context data:</p>
        
        <ul>
          {% for repo in repos %}
            <li><a href="{{ repo.url }}">{{ repo.name }}</a></li>
          {% endfor %}
        </ul>
        
        <p>Look at <a href="https://github.com/audreyr/complexity-example2/tree/master/project/context">https://github.com/audreyr/complexity-example2/tree/master/project/context</a> to see how it's done.</p>
    </div>
</div>
{% endblock %}
